.uploaded_file_view {max-width: 300px; margin: 40px auto; text-align: center; position: relative; transition: .2s; opacity: 0; border: 2px solid #ddd; padding: 15px;}
.uploaded_file_view img {max-width: 100%;}
.uploaded_file_view.show {opacity: 1;}